@layout MainLayout
@page "/"
@using Client.Infrastructure
@using global::Shared.DailyTaskDTO
@attribute [Authorize]

@inject HttpDailyTaskService _dailyTaskService

<AuthorizeView>
    <Authorized>
    <UserLine/>
    <div class="container-fluid py-4">
    @* <div class="row"> *@
    @*         <div class="col-12 d-flex justify-content-center mb-2"> *@
    @*             <button type="button" class="btn bg-gradient-primary btn-lg">Day</button> *@
    @*             <button type="button" class="btn bg-gradient-primary btn-lg">Week</button> *@
    @*             <button type="button" class="btn bg-gradient-primary btn-lg">Month</button> *@
    @*         </div> *@
    @*  </div> *@
        <div class="row">
        <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Habits tracker</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 w-20">Habit</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Amount</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Unit</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Frequency</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Completion</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  "></th>
                        </tr>
                        </thead>
                        @foreach (var  task in TasksForToday.Where(t => t.IsDone == false))
                        {
                            <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex px-2">
                                        <div class="me-2">
                                        </div>
                                        <div class="my-auto">
                                            <h6 class="mb-0 text-sm">@task.ChallengeTitle</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="text-xs font-weight-bold">@task.CountOfUnits</span>
                                </td>
                                <td>
                                    <span class="text-xs font-weight-bold">@task.UnitShortName</span>
                                </td>
                                <td>
                                    <span class="text-xs font-weight-bold">@task.FrequencyType</span>
                                </td>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center ">
                                        <span class="me-2 text-xs font-weight-bold">
                                            @task.CountOfUnitsDone/@task.CountOfUnits
                                        </span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-info"
                                                     role="progressbar"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     style="width: @task.PercentOfDone%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="">
                                        @if (task.UnitShortName.Equals("times") && task.CountOfUnits is > 1 and <= 10)
                                        {
                                            <button type="button" 
                                                    @onclick="() => AddProgress(task.Id, task.CountOfUnits, 1)" 
                                                    class="btn btn-outline-primary mb-0 mt-0 mx-auto">
                                                <i class="ni ni-fat-add"></i>
                                                <span>Add progress</span>
                                            </button>
                                        }
                                        else if (task.CountOfUnits > 1)
                                        {
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-outline-primary mb-0 mt-0 mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModalMessage">
                                                <i class="ni ni-fat-add"></i>
                                                <span>Add progress</span>
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade width-40" id="exampleModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Add your progress!</h5>
                                                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group text-start col-7">
                                                                    <label class="col-form-label">Amount:</label>
                                                                    <div class="row d-flex align-items-center justify-content-center">
                                                                        <div class="col-8">
                                                                            <input type="number" class="form-control"
                                                                                   @bind-value="@AddCountOfUnits">
                                                                        </div>
                                                                        <div class="col-2 mt-0 mb-0">
                                                                            <span>
                                                                                / @(task.CountOfUnits - task.CountOfUnitsDone) @task.UnitName
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="button"
                                                                    class="btn bg-gradient-primary"
                                                                    @onclick="() => AddProgress(task.Id, task.CountOfUnits, AddCountOfUnits)"
                                                                    data-bs-dismiss="modal"
                                                            >
                                                                Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <button type="button" 
                                                    @onclick="() => AddProgress(task.Id, task.CountOfUnits, 1)"
                                                    class="btn btn-outline-primary mb-0 mt-0 mx-auto">
                                                <i class="ni ni-check-bold"></i>
                                                <span>Mark As Done</span>
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
        @if (IsThereDoneTasks)
        {
            <div class="card mb-4">
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div class="card-header pb-0">
                            <span class="badge badge-sm bg-gradient-success">
                                Done
                            </span>
                        </div>
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 w-20">Habit</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Amount</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Unit</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Frequency</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Completion</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  "></th>
                            </tr>
                            </thead>
                            @foreach (var  task in TasksForToday.Where(t => t.IsDone))
                            {
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex px-2">
                                            <div class="me-2">
                                            </div>
                                            <div class="my-auto">
                                                <h6 class="mb-0 text-sm">@task.ChallengeTitle</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold">@task.CountOfUnits</span>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold">@task.UnitShortName</span>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold">@task.FrequencyType</span>
                                    </td>
                                    <td class="align-middle">
                                        <div class="d-flex align-items-center ">
                                            <span class="me-2 text-xs font-weight-bold">
                                                @task.CountOfUnitsDone/@task.CountOfUnits
                                            </span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-info"
                                                         role="progressbar"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100"
                                                         style="width: @task.PercentOfDone%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="">
                                            <button type="button" class="btn bg-gradient-dark mb-0 mt-0 mx-auto">
                                                <i class="ni ni-curved-next"></i>
                                                <span>Undone</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
        </div>
        </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    List<DailyTaskDTO> TasksForToday { get; set; } = new();
    bool IsThereDoneTasks { get; set; }
    int AddCountOfUnits { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        await GetAllTasks();
    }

    private async Task GetAllTasks()
    {
        var authState = await AuthenticationStateTask;
        var userName = authState.User.Identity.Name;
        var tasksFromDb = await _dailyTaskService.GetAllTasksForToday(userName);
        foreach (var task in tasksFromDb)
        {
            Console.WriteLine(task.ChallengeTitle);
        }
        TasksForToday = tasksFromDb.ToList();
        if (TasksForToday.Any(t => t.IsDone))
        {
            IsThereDoneTasks = true;
        }
    }

    private async Task AddProgress(int taskId, int countOfUnits, int countOfUnitsAdd)
    {
        var addProgressDto = new AddProgressDTO
        {
            DailyTaskId = taskId,
            CountOfUnits = countOfUnits,
            ProgressToAdd = countOfUnitsAdd
        };
        await _dailyTaskService.AddProgress(addProgressDto);
        await GetAllTasks();
        AddCountOfUnits = 1;
    }
}